@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --title-font: 'Oswald', sans-serif;
  --text-font: 'Source Sans Pro', sans-serif;
  --bg-primary: #FBFBFB;
  --bg-lightblue: #E8F9FF;
  --bg-milightblue: #C4D9FF;
  --bg-viol: #C5BAFF;
  --btn-gold: #D3A656;
  --btn-edit:#00B295;
  --btn-delete: #DF2935;
  --btn-blue: #12355B;
  --btn-darkviol: #3D3B8E;
  --text-color: #04080F;
  --border-color: #545863;
  --font-size-base: 16px;
  --font-title: "Montserrat", serif;
}

body {
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  color: var(--text-color);
  font-family: var(--title-font);
}



